{% extends 'base.html' %}
{% block content %}
<div class="container ">
    <div class="row m-5">
        <div class="alert-warning alert col-lg text-center mx-3">
            Телефоны <br> и <br> аксессуары
        </div>
        <div class="alert-primary alert col-lg text-center mx-3">
            Компьютеры <br> и <br> оргтехника
        </div>
        <div class="alert-success alert col-lg text-center mx-3">
            <br>
            Электронника
        </div>
        <div class="alert-success alert col-lg text-center mx-3">
            Бытовая<br>  <br> техника
        </div>
    </div>
    <div class="row m-5">
        <div class="alert-success alert col-lg text-center mx-3">
            <br>
            Одежда
        </div>
        <div class="alert-success alert col-lg text-center mx-3">
            Все для<br> <br> детей
        </div>
        <div class="alert-success alert col-lg text-center mx-3">
            Бижутерия <br> и <br> часы
        </div>
        <div class="alert-success alert col-lg text-center mx-3">
            Сумки <br> и <br> обувь
        </div>
    </div>
    <div class="row m-5">
        <div class="alert-success alert col-lg text-center mx-3">
            Для дома <br> и <br> сада
        </div>
        <div class="alert-success alert col-lg text-center mx-3">
            <br>
            Автотовары
        </div>
        <div class="alert-success alert col-lg text-center mx-3">
            Красота <br> и <br> здоровье
        </div>
        <div class="alert-success alert col-lg text-center mx-3">
            Спорт <br> и <br> развлечение
        </div>
    </div>
</div>
{% endblock %}