{% extends 'base.html' %}
{% block content %}
<div class="container ">
    <div class="row m-5">
        <div class="alert-warning alert col-lg text-center mx-3">
            <a href="/phone_and_accessories">
            Телефоны <br> и <br> аксессуары</a>
        </div>
        <div class="alert-primary alert col-lg text-center mx-3">
            <a href="/computers">
            Компьютеры <br> и <br> оргтехника</a>
        </div>
        <div class="alert-success alert col-lg text-center mx-3">

            <a href="/electronics">
                <br>
                Электронника<br>
            </a>
        </div>
        <div class="alert-info alert alert col-lg text-center mx-3">
            <a href="/appliances">
            Бытовая<br>  <br> техника</a>
        </div>
    </div>
    <div class="row m-5">
        <div class="alert-info alert col-lg text-center mx-3">

            <a href="/clothes"><br>
            Одежда<br></a>
        </div>
        <div class="alert-warning alert col-lg text-center mx-3">
            <a href="/children">
            Все для<br> <br> детей
            </a>
        </div>
        <div class="alert-primary alert col-lg text-center mx-3">
            <a href="/bijouterie_and_clocks">
            Бижутерия <br> и <br> часы
            </a>
        </div>
        <div class="alert-success alert col-lg text-center mx-3">
            <a href="/bags_and_shoes">
            Сумки <br> и <br> обувь
            </a>
        </div>
    </div>
    <div class="row m-5">
        <div class="alert-success alert col-lg text-center mx-3">
            <a href="/house_and_garden">
            Для дома <br> и <br> сада
            </a>
        </div>
        <div class="alert-info alert col-lg text-center mx-3">
            <a href="/auto_products"><br>Автотовары<br></a>
        </div>
        <div class="alert-warning alert col-lg text-center mx-3">
            <a href="/beauty_and_health">Красота <br> и <br> здоровье</a>
        </div>
        <div class="alert-primary alert col-lg text-center mx-3">
            <a href="/sport_and_entartainment">Спорт <br> и <br> развлечение</a>
        </div>
    </div>
</div>
{% endblock %}