{% extends 'base.html' %}
{% block header %}
<form method="post" style="margin: 0;">
<input type="text" name='ask' style="margin-left: 20%; width: 30%;">&#128269</form>{% endblock %}
{% block content %}
<div class="container ">
    <div class="row m-5">
        <div class="alert-warning alert col-lg text-center mx-3">
            <a href="categories/phones">
            Телефоны <br> и <br> аксессуары</a>
        </div>
        <div class="alert-primary alert col-lg text-center mx-3">
            <a href="categories/computers">
            Компьютеры <br> и <br> оргтехника</a>
        </div>
        <div class="alert-success alert col-lg text-center mx-3">

            <a href="categories/electronics">
                <br>
                Электроника<br>
            </a>
        </div>
        <div class="alert-info alert alert col-lg text-center mx-3">
            <a href="categories/appliances"><div>
                Бытовая<br>  <br> техника</div></a>
        </div>
    </div>
    <div class="row m-5">
        <div class="alert-info alert col-lg text-center mx-3">

            <a href="categories/clothes"><br>
            Одежда<br></a>
        </div>
        <div class="alert-warning alert col-lg text-center mx-3">
            <a href="categories/children">
            Все для<br> <br> детей
            </a>
        </div>
        <div class="alert-primary alert col-lg text-center mx-3">
            <a href="categories/clock">
            Бижутерия <br> и <br> часы
            </a>
        </div>
        <div class="alert-success alert col-lg text-center mx-3">
            <a href="categories/bag">
            Сумки <br> и <br> обувь
            </a>
        </div>
    </div>
    <div class="row m-5">
        <div class="alert-success alert col-lg text-center mx-3">
            <a href="categories/house">
            Для дома <br> и <br> сада
            </a>
        </div>
        <div class="alert-info alert col-lg text-center mx-3">
            <a href="categories/car"><br>Автотовары<br></a>
        </div>
        <div class="alert-warning alert col-lg text-center mx-3">
            <a href="categories/health">Красота <br> и <br> здоровье</a>
        </div>
        <div class="alert-primary alert col-lg text-center mx-3">
            <a href="categories/sport">Спорт <br> и <br> развлечение</a>
        </div>
    </div>
</div>
{% endblock %}