{% extends "base.html" %}

{% block content %}
    <form action="" method="post" novalidate class="mx-3"  enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        {% block error %}{% endblock %}
        <p>
            {{ form.category }}
            {% for error in form.category.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.product_name.label }}<br>
            {{ form.product_name }}<br>
            {% for error in form.product_name.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.cost.label }} <br>
            {{ form.cost }}<br>
            {% for error in form.cost.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}</p>
        <p>{{ form.count.label }} <br>
            {{ form.count }}
            {% for error in form.count.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.s_description.label }} <br>
            {{ form.s_description(cols="50", rows="4") }}<br>
            {% for error in form.s_description.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.b_description.label }} <br>
            {{ form.b_description(cols="100", rows="10") }} <br>
            {% for error in form.b_description.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <input type="file" name="files" multiple>
        {% for error in form.submit.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
        {% endfor %}
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}